<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


	<ui:composition template="/welcomeAdmin.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
	
		<ui:define name="myContent">
			<h2>Créez vos promotions</h2>
			<h:form id="formAdd">
						
				Indiquez le taux de remise : <h:inputText value="#{promotionMBean.promo.amount}"/>
				<h:commandButton value="Enregistrer la promotion" action="#{promotionMBean.doAddPromo()}"/>
				
			
			</h:form>
		</ui:define>
	
	</ui:composition>
</html>

